﻿@using MVCWithoutEF.Models
@model IEnumerable<CustomerModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <table id="tblCustomer" class="table table-responsive table-bordered" cellpadding="0" cellspacing="0">
        <thead>
            <th>Customer ID</th>
            <th>Nama</th>
            <th>Country</th>
            <th>Action</th>
        </thead>
        @foreach (CustomerModel cModel in Model)
        {
            <tbody>
                <tr>
                    <td class="CustomerID">
                        <span>@cModel.CustomerID</span>
                    </td>
                    <td class="Name">
                        <span>@cModel.Name</span>
                        <input type="text" value="@cModel.Name"/>
                     </td>
                    <td class="Country">
                        <span>@cModel.Country</span>
                        <input type="text" value="@cModel.Country" />
                    </td>
                    <td><a href="javascript:;" class="btn btn-info edit">Edit</a>
                            <a href="javascript:;" class="btn btn-info update" style="display:none;">Update</a>
                            <a href="javascript:;" class="btn btn-danger delete">Delete</a>
                            <a href="javascript:;" class="btn btn-default cancel">Cancel</a>
                    </td>
                </tr>
            </tbody>
        }
    </table>
    <table class="table table-condensed table-responsive">
        <tbody>
            <tr>
                <td style="width:150px;">
                    Name :<br />
                    <input type="text" id="txtName" style="width:140px" />
                </td>
                <td style="width:150px">
                    Country :<br />
                    <input type="text" id="txtCountry" style="widthL140px;" />
                </td>
                <td style="width:200px">
                    <br/>
                    <input type="button" id="btnAdd"  value="Add"/>
                </td>
            </tr>
        </tbody>
    </table>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
<script type="text/javascript">
    $(function () {
        if ($("#tblCutomer tr").length > 2) {
            $("#tblCustomer tr:eq(1)").remove();
        } else {
            var row = $("#tblCustomer tr:last-child");
            row.find(".Edit").hide();
            row.find(".Delete").hide();
            row.find("span").html('&nbsp;');
        }
    });
    function AppendRow(row, CustomerID, Name, Country) {
        $(".CustomerID", row).find("span").html(CustomerID);
        $(".Name", row).find("span").html(Name);
        $(".Name", row).find("input").val(Name);
        $(".Country", row).find("span").html(Country);
        $(".Country", row).find("input").val(Country);

        row.find(".Edit").show();
        row.find(".Delete").show();
        $("#tblCustomer").append(row);
    };
    $("body").on("Click", "btnAdd", function () {
        var txtName = $("#txtName");
        var txtCountry = $("#txtCountry");
        $.ajax({
            type: "POST",
            url: "/Customer/InsertCustomer",
            data: '{Name:"' + txtName.val() + '", Country:  "' + txtCountry.val() + '"}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (r) {
                var row = $("#tblCustomer tr:last-child");
                if ($("#tblCustomers tr:last-child span").eq(0).html() != "&nbsp;") {
                    row = row.clone();
                }
                AppendRow(row, r.CustomerId, r.Name, r.Country);
                txtName.val("");
                txtCountry.val("");
            }
        });
    });
    $("body").on("click", "#tblCustomer .Edit", function () {
        var row = $(this).closest("tr");
        $("td", row).each(function () {
            if ($(this).find("input").length > 0) {
                $(this).find("input").show();
                $(this).find("span").hide();
            }
        });
        row.find(".Update").show();
        row.find(".Cancel").show();
        row.find(".Delete").hide();
        $(this).hide();
    });
    $("body").on("click", "#tblCustomer .Update", function () {
        var row = $(this).closest("tr");
        $("td", row).each(function () {
            if ($(this).find("input").length > 0) {
                var span = $(this).find("span");
                var input = $(this).find("input");
                span.html(input.val());
                span.show();
                input.hide();
            }
        });
        row.find(".Edit").show();
        row.find(".Delete").show();
        row.find(".Cancel").hide();
        $(this).hide();

        var cModel = {};
        cModelCustomerId = row.find(".CustomerID").find("span").html();
        cModel.Name = row.find(".Name").find("span").html();
        cModel.Country = row.find(".Country").find("span").html();
        $.ajax({
            type: "POST",
            url: "/Cutsomer/UpdateCustomer",
            data: '{customer:' + JSON.stringify(cModel) + '}',
            contentType: "application/json; charset=utf-8",
            dataType: "json"
        });
    });
    $("body").on("click", "#tblCustomer .Cancel", function () {
        var row = $(this).closest("tr");
        $("td", row).each(function () {
            if ($(this).find("input").length > 0) {
                var span = $(this).find("span");
                var input = $(this).find("input");
                input.val(span.html());
                span.show();
                input.hide();
            }
        });
        row.find(".Edit").show();
        row.find(".Delete").show();
        row.find(".Update").hide();
        $(this).hide();
    });
    $("body").on("click", "#tblCustomer .Delete", function () {
        if (confirm("Do you want to delete this row?")) {
            var row = $(this).closest("tr");
            var customerId = row.find("span").html();
            $.ajax({
                type: "POST",
                url: "/Home/DeleteCustomer",
                data: '{customerId: ' + customerId + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    if ($("#tblCustomers tr").length > 2) {
                        row.remove();
                    } else {
                        row.find(".Edit").hide();
                        row.find(".Delete").hide();
                        row.find("span").html('&nbsp;');
                    }
                }
            });
        }
    });
</script>